<div class="body">
  <div
    class="dropdown d-block d-sm-block d-md-block d-lg-none d-xl-none d-xxl-none"
  >
    <button
      id="dropDown"
      class="btn dropdown-toggle p-2 m-2"
      type="button"
      id="dropdownMenuButton1"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <i class="fa-solid fa-bars"></i>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item text-center" href="#">الاقسام</a></li>
      <li><a class="dropdown-item text-center" href="#">المهارات</a></li>
      <li><a class="dropdown-item text-center" href="#">مرشحات أخرى</a></li>
    </ul>
  </div>
  <div class="container-fluid">
    <div class="row mt-5">
      <!-- divider -->
      <div
        class="col-0 col-0 col-sm-0 col-md-0 col-lg-0 col-xl-1 col-xxl-1"
      ></div>
      <div
        class="col-0 col-0-12 col-md-0 col-lg-2 col-xl-2 col-xxl-2 d-none d-sm-none d-md-none d-lg-flex d-flex justify-content-center"
      >
        <div class="w-100">
          <!-- accordion 1-->

          <div>
            <div
              class="accordion col-12 mt-3"
              id="accordionPanelsStayOpenExample"
            >
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                  <button
                    class="accordion-button p-3"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseOne"
                    aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseOne"
                  >
                    <h6>{{"Departments"|translate}}</h6>
                  </button>
                </h2>
                <div
                  id="panelsStayOpen-collapseOne"
                  class="accordion-collapse collapse show"
                  aria-labelledby="panelsStayOpen-headingOne"
                >
                  <ul class="list-group">
                    <li class="list-group-item p-3">
                      {{"Business and advisory and administrative services"|translate}}                    </li>

                    <li class="list-group-item p-3">
                      {{"Software, developing websites and applications"|translate}}                    </li>

                      <li class="list-group-item p-3">{{"Design"|translate}} ,{{"Video"|translate}} ,{{"Audio"|translate}}   </li>
                      <li class="list-group-item p-3"> {{"Marketing"|translate}} , {{"Sales"|translate}}</li>
                    <li class="list-group-item p-3">{{"Writing ang Content Creation"|translate}}</li>
                    <li class="list-group-item p-3"> {{"Translation and Languages"|translate}}</li>
                    <li class="list-group-item p-3">{{"Remote assistance"|translate}}</li>
                    <li class="list-group-item p-3">{{"Others"|translate}} </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- accordion 1-->

          <div>
            <div
              class="accordion col-12 mt-3"
              id="accordionPanelsStayOpenExample"
            >
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingS">
                  <button
                    class="accordion-button p-3"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-Search"
                    aria-expanded="true"
                    aria-controls="panelsStayOpen-Search"
                  >
                  <h6>{{"Join the Freelancers"|translate}}</h6>
                </button>
                </h2>
                <div
                  id="panelsStayOpen-Search"
                  class="accordion-collapse collapse show"
                  aria-labelledby="panelsStayOpen-headingS"
                >
                  <div class="input-group rounded w-75 p-2 me-4">
                    <input
                      type="search"
                      class="form-control rounded"
                      placeholder="{{'Search'|translate}}"
                      aria-label="Search"
                      aria-describedby="search-addon"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- accordion 1-->

          <div>
            <div
              class="accordion col-12 mt-3"
              id="accordionPanelsStayOpenExample"
            >
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingS">
                  <button
                    class="accordion-button p-3"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-2"
                    aria-expanded="true"
                    aria-controls="panelsStayOpen-2"
                  >
                  <h6>{{"Other Filters"|translate}} </h6>
                </button>
                </h2>
                <div
                  id="panelsStayOpen-2"
                  class="accordion-collapse collapse show"
                  aria-labelledby="panelsStayOpen-headingS"
                >
                  <ul class="list-group">
                    <li class="list-group-item p-3">{{"Connected Now"|translate}} </li>
                    <li class="list-group-item p-3">{{"Verified Identity"|translate}}</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- accordion 1-->

          <div>
            <div class="accordion col-12 mt-3" id="OpenExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingS">
                  <button
                    class="accordion-button p-3"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-2"
                    aria-expanded="true"
                    aria-controls="panelsStayOpen-2"
                  >
                  <h6>{{"Rating"|translate}}</h6>
                </button>
                </h2>
                <div
                  id="panelsStayOpen-2"
                  class="accordion-collapse collapse show p-2 text-center"
                  aria-labelledby="panelsStayOpen-headingS"
                >
                  <i class="fa-solid fa-star" id="test"></i>
                  <i class="fa-solid fa-star" id="test"></i>
                  <i class="fa-solid fa-star" id="test"></i>
                  <i class="fa-solid fa-star" id="test"></i>
                  <i class="fa-solid fa-star" id="test"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xl-8 col-xxl-8">
        <div class="p-3 bg-white mx-3" style="border-radius: 10px">
          <i class="fa-solid fa-user fa-xl ms-2 mx-2"></i>
{{"Join the Freelancers"|translate}}        </div>

        <div class="d-flex flex-wrap">
          <!-- Freelnacer Form  -->
          <div class="w-100 m-4 shadow p-3 bg-white rounded">
            <!-- Freelnacer Form  -->

            <form
              #addingFreelancerForm="ngForm"
              (ngSubmit)="addNewFreelancer()"
            >
              <div class="form-row">
                <div class="form-group">
                  <label for="inputEmail4" class="my-2">الاسم كاملاً :</label>
                  <input
                    type="text"
                    name="name"
                    [(ngModel)]="newFreelancer.name"
                    class="form-control"
                    id="inputEmail4"
                    placeholder=" الاسم ..."
                    #freelancerName="ngModel"
                    required
                    pattern="[أ-ي \s]{3,}"
                    [class.is-valid]="freelancerName.valid"
                    [class.is-invalid]="
                      freelancerName.invalid && freelancerName.touched
                    "
                  />
                  <div
                    class="alert alert-danger my-2 p-1"
                    [hidden]="freelancerName.valid || freelancerName.untouched"
                  >
                    <small *ngIf="freelancerName.errors?.['required']"
                      >يجب اضافة الأسم</small
                    >
                    <small *ngIf="freelancerName.errors?.['pattern']">
                      الاسم على الاقل 3 حروف وباللغة العربية</small
                    >
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputPassword4" class="my-2"
                    >البريد الالكتروني :</label
                  >
                  <input
                    #email
                    type="email"
                    name="email"
                    class="form-control"
                    id="inputPassword4"
                    placeholder="البريد الالكتروني ... "
                    required
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="inputAddress" class="my-2">الدولة :</label>
                <input
                  type="text"
                  name="country"
                  class="form-control"
                  id="inputAddress"
                  placeholder="الدولة ..."
                  required
                  pattern="[أ-ي]{3,12}"
                />
              </div>
              <div class="form-group">
                <label for="title" class="my-2"> الوظيفة :</label>
                <input
                  #freelancerTitle="ngModel"
                  type="text"
                  name="title"
                  [(ngModel)]="newFreelancer.title"
                  class="form-control"
                  id="title"
                  placeholder="المهارات التي اتحلى بها ..."
                  required
                  pattern="[أ-ي \s]{3,}"
                  [class.is-valid]="freelancerTitle.valid"
                  [class.is-invalid]="
                    freelancerTitle.invalid && freelancerTitle.touched
                  "
                />
                <div
                  class="alert alert-danger my-2 p-1"
                  [hidden]="freelancerTitle.valid || freelancerTitle.untouched"
                >
                  <small *ngIf="freelancerTitle.errors?.['required']"
                    >يجب اضافة الوظيفة</small
                  >
                  <small *ngIf="freelancerTitle.errors?.['pattern']"
                    >الوظيفة على الاقل 3 حروقوباللغة العربية
                  </small>
                </div>
              </div>
              <div class="form-group">
                <label for="inputAddress3" class="my-2">
                  الصورة الشخصية (رابط الصورة) :</label
                >
                <input
                  #freelancerImg="ngModel"
                  type="url"
                  name="img"
                  [(ngModel)]="newFreelancer.img"
                  class="form-control"
                  id="inputAddress3"
                  placeholder="رابط صورتي الشخصية ..."
                  required
                  pattern="https?://.+"
                  [class.is-valid]="freelancerImg.valid"
                  [class.is-invalid]="
                    freelancerImg.invalid && freelancerImg.touched
                  "
                />
                <div
                  class="alert alert-danger my-2 p-1"
                  [hidden]="freelancerImg.valid || freelancerImg.untouched"
                >
                  <small *ngIf="freelancerImg.errors?.['required']"
                    >يجب اضافة رابط الصورة</small
                  >
                </div>
              </div>

              <div class="form-group">
                <label for="foru" class="my-2">ملخص عن أعمالك وخبراتك :</label
                ><br />
                <input
                  type="text"
                  class="form-control"
                  id="foru"
                  required
                  pattern="[أ-ي \s]{2,}"
                />
              </div>

              <div class="form-group col-md-4">
                <label for="inputState" class="my-2">المدينة :</label>
                <select id="inputState" class="form-control">
                  <option selected>حدد المدينة</option>
                  <option>القاهرة</option>
                  <option>الجيزة</option>
                  <option>الاسكندرية</option>
                  <option>قنا</option>
                </select>
              </div>

              <div class="d-flex my-4">
                <div>
                  <input
                    class="form-check-input p-2 mx-2"
                    type="checkbox"
                    id="gridCheck"
                    required
                  />اوافق على الشروط والاحكام
                </div>
              </div>

              <button
                type="submit"
                class="btn btn-success w-50 BTNForSub"
                [disabled]="addingFreelancerForm.invalid"
              >
                تسجيل
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
