

    <section class="container p-3 my-5">
      <div class="d-flex ">
        <!-- Right Side -->
        <div class="flex-grow-1 border rounded-3 p-3 bg-white mx-4">
            <h4 class="p-3 bg-white"><i class="fa-sharp fa-solid fa-list me-2"></i> {{"add_project"|translate}} </h4>
              <hr>
            <form action="" >
               <div class="mb-3">
                  <label for="title" class="form-label">{{"Set_title"|translate}}</label>
                  <input class="form-control" type="text" name="Title" id="title" placeholder='{{"Set_title"|translate}}' required>
               </div>
               <div class="mb-3">
                <label for="discription" class="form-label">{{"Set_discription"|translate}}</label>
                <textarea class="form-control" name="discription" id="discription" cols="30" rows="10" placeholder= '{{"Set_discription"|translate}}' required></textarea>
             </div>
                <div class="row mb-3">
                    <div class="col">
                         <label for="Department" class="form-label">{{"Choose_Category"|translate}}</label>
                          <select name="Department" id="Department" class="form-select" required >
                            <option selected>{{"Choose_Category"|translate}}</option>
                            <option value={{cat.id}} *ngFor="let cat of LisTOfCat; let i = index">{{cat.name}}</option>
                          </select>
                    </div>
                    <div class="col">
                      <label for="skills" class="form-label"> {{"Choose_skills"|translate}} </label>
                      <input type="text" name="skills" id="skills" placeholder='{{"Choose_skills"|translate}}'  class="form-control">
                    </div>
                </div>
                  <div class='row mb-5'>
                      <div class="col" >
                        <label for="budget" class="form-label">{{"Choose_Budget"|translate}}</label>
                        <select name="budget" id="budget" class="form-select" required>
                          <option selected>{{"Choose_Budget"|translate}}</option>
                        </select>
                      </div>
                      <div class="col" >
                        <label for="Time" class="form-label">{{"choose_DeliveryDuration"|translate}}</label>
                        <select name="Time" id="Time" class="form-select" required>
                          <option selected>{{"choose_DeliveryDuration"|translate}}</option>
                        </select>
                      </div>

                  </div>

                    <button type="submit" class="btn btn-success fw-bold fs-5 w-100 mb-2" (click)="GetAddProjcet()">{{"Set_add"|translate}}</button>

            </form>
        </div>
        <!-- left Side -->
        <div class=" col-lg-4  col-sm-none">
          <div>
            <h3>{{"Set_H1"|translate}}</h3>
            <!-- <iframe
              width="450"
              height="315"
              src="https://www.youtube.com/embed/z15GtCNH0UA"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; "
              allowfullscreen
            ></iframe> -->
           </div>
          <p class="text-muted">
            {{"Set_P1"|translate}}
          </p>
          <div>
            <h3><i class="fa-solid fa-lightbulb"></i>  {{"Set_H2"|translate}}</h3>
            <ul class="text-muted">
              <li>{{"Set_Point1"|translate}}</li>
              <li>{{"Set_Point2"|translate}}</li>
              <li>{{"Set_Point3"|translate}}</li>
              <li>{{"Set_Point4"|translate}}</li>
              <li>{{"Set_Point5"|translate}}</li>
              <li>{{"Set_Point6"|translate}}</li>
              <li>{{"Set_Point7"|translate}}</li>
            </ul>
          </div>
          <div>
            <div class="d-flex">
              <p
                class="fas fa-shield-alt"
                style="color: #1dbf73; font-size: larger"
              ></p>
              <h3> {{"Set_H3"|translate}}</h3>
            </div>
            <p class="text-muted">
              {{"Set_P2"|translate}}
            </p>
          </div>
        </div>
      </div>

    </section>




