<div>
  <div class="row m-0 p-3">
    <div class="col-3 d-none d-lg-flex flex-column p-3">
      <span class="fs-4 my-3">إنشر خدمتك المصغرة على كفيل</span>
      <iframe
        width="370"
        height="210"
        src="https://www.youtube.com/embed/k1kTyICn6Ew"
        title="كيفية إضافة خدمة مصغرة جديدة على منصة كفيل ؟"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen
      ></iframe>
      <p class="text-black-50 my-4">
        تساعدك منصة كفيل على الربح من مهاراتك عن طريق نشر خدمتك بداً من 5
        دولار والوصول إلى ألاف المشتريين المهتميين. فقط أضف خدمتك وبمجرد
        قبولها من الإدارة, تصبح متاحة للجميع
      </p>
      <h5><span class="fas fa-lightbulb"></span> نصائح لإضافة خدمتك</h5>
      <ul class="px-3 tips-content">
        <li>قم بوضح عنوان واضح ومعبر عن خدمتك وما تقدمه</li>
        <li>
          أضف قسم ومهارات مناسبه لخدمتك حتى يسهل على المستخدمين الوصول لها
        </li>
        <li>
          اوصف خدمتك باللغة العربيه بشكل واضح حتى يسهل على المشتري فهم ما سوف
          يحصل عليه من خدمتك
        </li>
        <li>أضف صوره رئيسيه معبره جذابه بجودة عاليه لخدمتك</li>
        <li>
          أكتب تعليماتك للمشتري بشكل مختصر حتى تظهر له التعليمات بعد شراءه
          لخدمتك
        </li>
        <li>
          أضف سعر مناسب و منافس للخدمة التى تقدمها بعد الإطلاع على الخدمات
          الشبيهه على المنصة
        </li>
      </ul>
      <div class="col-12 px-0 mb-4">
        <h5>
          <span class="fas fa-shield-alt" style="color: #1dbf73"> </span>كفيل
          يضمن حقوقك
        </h5>
        <div class="col-12 px-0 tips-content">
          توفر لك منصة كفيل بيئه متكاملة لعرض خدماتك و التواصل والدفع وسحب
          الأرباح وغيره, تلعب فيها دور الوسيط بين البائع و المشتري لتضمن تجربه
          ناجحه مرضيه للطرفين.
        </div>
      </div>
    </div>

    <div class="col-8 P-form p-3 m-3">
    
      <form class="p-3" (ngSubmit)="addData()">
        <div class="mb-3">
          <label for="name">الاسم</label>
          <input
            type="text"
            class="form-control"
            id="name"
            [(ngModel)]="newportfolois.name"
            name="name"
          />
        </div>
        <div class="mb-3">
          <label for="ownerimg">صورة صاحب العمل</label>
          <input
            type="text"
            class="form-control"
            id="ownerimg"
            [(ngModel)]="newportfolois.ownerimg"
            name="ownerimg"
          />
        </div>
        <div class="mb-3">
          <label for="address" class="form-label">العنوان</label>
          <input
            type="text"
            class="form-control"
            id="address"
            placeholder="العنوان"
            name="title"
            [(ngModel)]="newportfolois.protfoloiName"
          />
        </div>
        <div class="mb-3">
          <label for="img">الصورة</label>
          <input
            type="text"
            class="form-control"
            id="img"
            [(ngModel)]="newportfolois.img"
            name="img"
          />
        </div>

        <div class="mb-3">
          <label for="discription" class="form-label">الوصف</label>
          <textarea
            rows="4"
            class="form-control text-muted"
            name="discription"
            [(ngModel)]="newportfolois.titel"
          ></textarea>
        </div>
        <div class="mb-3">
          <div class="col">
            <label for="category" class="form-label">القسم</label>
            <input
              type="text"
              class="form-control text-muted"
              placeholder="القسم"
              id="category"
              name="category"
              [(ngModel)]="newportfolois.category"
            />
          </div>

          <div class="mb-3">
            <label for="watch">المشاهدات</label>
            <input
              type="number"
              class="form-control"
              id="watch"
              [(ngModel)]="newportfolois.watch"
              name="watch"
            />
          </div>
          <div class="mb-3">
            <label for="like">الإعجابات</label>
            <input
              type="number"
              class="form-control"
              id="like"
              [(ngModel)]="newportfolois.like"
              name="like"
            />
          </div>
          <div class="col">
            <label for="skills" class="form-label">المهارات</label>
            <input type="text" class="form-control text-muted" id="skills" />
          </div>
        </div>
        <button type="submit">اضف</button>
      </form>
    </div>
  </div>
</div>
